/*body{
background-color: #f0f5f5;
}*/

	
/*	label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}

input, textarea{

border-radius:7px;
				-moz-box-shadow: inset 1px 1px 3px #222;
				-webkit-box-shadow: inset 1px 1px 3px #222;
				box-shadow: inset 1px 1px 3px #222;
				filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
				-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
				zoom: 1;}
				
input, select{
border:none;
border-radius:7px;
				-moz-box-shadow: inset 1px 1px 3px #222;
				-webkit-box-shadow: inset 1px 1px 3px #222;
				box-shadow: inset 1px 1px 3px #222;
				filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
				-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
				zoom: 1;}

input, submit{
margin:10px 0 0 50px;
width: 50%; 
}
*/