/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
/** Pajarito **/
.pajarito-home {
  display: none;
  position: absolute;
  max-width: 163px;
  max-height: 118px;
  top: 250px;
  left: 0;
}
.pajarito-home img {
  width: 80%;
  height: auto;
}
.pajarito-circular {
  display: none;
  position: absolute;
  max-width: 163px;
  max-height: 118px;
  top: 300px;
  left: 0;
  margin-left: 5%;
}
.pajarito-circular img {
  width: 80%;
  height: auto;
}
.pajarito-ganadores {
  display: none;
  position: absolute;
  max-width: 163px;
  max-height: 118px;
  top: 300px;
  left: 0;
  margin-left: 24%;
}
.pajarito-ganadores img {
  width: 80%;
  height: auto;
}
.pajarito-post {
  display: none;
  position: absolute;
  max-width: 163px;
  max-height: 118px;
  top: 300px;
  left: 0;
  margin-left: 41%;
}
.pajarito-post img {
  width: 80%;
  height: auto;
}
.pajarito-dudas {
  display: none;
  position: absolute;
  max-width: 163px;
  max-height: 118px;
  top: 300px;
  left: 0;
  margin-left: 59%;
}
.pajarito-dudas img {
  width: 80%;
  height: auto;
}
.pajarito-contacto {
  display: none;
  position: absolute;
  max-width: 163px;
  max-height: 118px;
  top: 300px;
  left: 0;
  margin-left: 78%;
}
.pajarito-contacto img {
  width: 80%;
  height: auto;
}
